doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title || "Fotaza 2"
    link(rel="stylesheet", href="/css/style.css")
  body
    header
      nav
        div.nav-links
          a(href="/") Inicio
          if user
            a(href="/create-post") Nueva Publicación
            a(href="/messages") Mensajes
            a(href="/my-collections") Mis Colecciones
            a(href="/profile/moderation/comments") Moderar Comentarios
            if user.rol === 'validador'
              a(href="/admin/reports") Moderación
            
            div.notification-dropdown
              details
                summary.bell-icon #{notifications && notifications.filter(n => !n.leida).length > 0 ? `(${notifications.filter(n => !n.leida).length})` : ''}
                div.dropdown-content
                  if notifications && notifications.length > 0
                    each n in notifications
                      if n.tipo_evento === 'nuevo_seguidor'
                        div.notif-item
                          span @#{n.username} comenzó a seguirte.
                      else if n.tipo_evento === 'comentario'
                        a.notif-item(href=`/posts-detail/${n.id_publicacion}`)
                          span @#{n.username} comentó tu publicación.
                      else if n.tipo_evento === 'valoracion'
                        a.notif-item(href=`/posts-detail/${n.id_publicacion}`)
                          span @#{n.username} valoró tu imagen.
                      else if n.tipo_evento === 'me_interesa'
                        a.notif-item(href=`/posts-detail/${n.id_publicacion}`)
                          span @#{n.username} tiene interés en tu post.
                      else if n.tipo_evento === 'guardada'
                        a.notif-item(href=`/posts-detail/${n.id_publicacion}`)
                          span @#{n.username} guardó tu publicación en su colección.
                    div.dropdown-footer
                      a(href="/notifications") Ver todas
                  else
                    div.notif-item.empty No tienes notificaciones.
            
            a(href="/logout") Salir
          else
            a(href="/login") Entrar
            a(href="/register") Registrarse
        
        div.nav-search
          form(action="/search" method="GET")
            input(type="text" name="q" placeholder="Buscar fotos o tags..." value=searchTerm)
            button(type="submit") Buscar

      if user
        div.user-info
          span Conectado como: #{user.username}
    
    main
      block content 

    footer
      p &copy; 2026 Fotaza 2 - Programación Web II